/* @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap'); */

.flex_all_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 5px 10px;
    color: white;
    background-color: var(--wevcol);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 7px;
    cursor: pointer;
    /* font-family: 'Merriweather Sans', sans-serif; */
    font-weight: 500;
}

.btn:hover {
    font-weight: 900;
}